
<h1>Concert-Go</h1>


@*@model IEnumerable<Events>

@{
    ViewData["Title"] = "All Events";
}

<h2>All Events</h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Type</th>
            <th>Datetime_loval</th>
            <th>Venue</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Type</td>
                <td>@e.Datetime_local</td>
                <td>@e.Venue</td>
                <td>@e.Url</td>
                <td>
            </tr>
        }
    </tbody>
</table>*@