
<div style="color: white">
    <h1>Welcome to Concert-Go</h1>
    <h2>Here you can find tickets to see your favorite Artists!</h2>
</div>

<style>
    button{
        background-color: blue;
        color: white;
        border-radius: 10px;
        height: 36px;
        width: 150px;
        cursor: pointer;
        margin-right: 20px;
    }

    body{
        text-align: center;
    }
</style>


<a asp-controller="Artist" asp-action="ArtistEvents">
    <input type="button" class="btn btn-primary" value="Search By Performer" /></a>

<a asp-controller="Venue" asp-action="VenueEvents">
    <input type="button" class="btn btn-primary" value="Search By Venue" /></a>
