@using ConcertAPI.Models.Event_Models;
@model Venue

<h1>Events</h1>

<div style="display: block">
    <h2>Here are upcoming events in this City.</h2>
</div>

@using (Html.BeginForm("Search", "Venue", FormMethod.Get))
{
    <p>
        Search for Artist: @Html.TextBox("searchTerm")
        <input type="submit" value="Search" />
    </p>
}
<br />

<table class="table text-light" border="1">
    <tr>
        <th>Link</th>
    </tr>
@foreach (var item in @Model.events)
    {
        <tr>
            <td><a href=/Venue/VenueEvents/@item.Url>@item.Url</a></td>
        </tr>
    }
 </table>
 