html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background-image {
    background-image: url('c:\users\kamil\onedrive\desktop\repos\concertapi\concertapi\image\background.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}